{
    "env": {
        "build-module": {
            "plugins": [
                ["@babel/transform-runtime", {
                    "useESModules": true
                }]
            ],
            "presets": [
                ["@babel/env", {
                    "modules": false
                }]
            ]
        },
        "build-esnext": {
            "plugins": [
                ["@babel/transform-runtime", {
                    "useESModules": true
                }]
            ]
        }
    }
}
